@if(Employee && Employee.length>0)
{

<h1>{{title}}</h1>
<hr>
<h6>{{subTitle}}</h6>

<div class="row text-center">

    <input type="search" id="inputsearch" class="form-control" placeholder="search event by event name"
        [(ngModel)]="searchChars" (input)="searchEmployee()">

</div>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            @for(col of columns; track $index)
            {
            <th>
                {{col}}
            </th>
            }
        </tr>
    </thead>
    <tbody>
        @for (emp of filteredEmployee|paginate:{itemsPerPage:pageSize,currentPage:pageNumber}; track $index) {
        <tr>
            <td><span>{{emp.employeeId}}</span></td>
            <td><span>{{emp.employeeName}}</span></td>
            <td><span>{{emp.phone}}</span></td>
            <td><span>{{emp.email}}</span></td>
            <td>
                <button class="btn btn-dark" (click)="onEmployeeSelection(emp.employeeId)">Show Details</button>
            </td>
        </tr>
        }
    </tbody>
</table>

<div class="container text-center">
    <pagination-controls (pageChange)="pageNumber = $event" class="my-pagination"></pagination-controls>
</div>
@if (selectedEmployeeId) {

    <!-- lazy loading -->
    @defer () {  
        <app-employee-details [empId]="selectedEmployeeId" [subtitle]="childSubTitle"
    (sendConfirmationMessage)="handleChildMessage($event)"></app-employee-details>
    }
    @placeholder(minimum 3000ms) {
        <h4>please wait</h4>
    }
    @error {
        <h4>erroe something went wrong</h4>
    }
<!-- -------------------------------------------------- -->
<!-- <app-employee-details [empId]="selectedEmployeeId" [subtitle]="childSubTitle"
    (sendConfirmationMessage)="handleChildMessage($event)"></app-employee-details> -->

}
<!-- @if (selectedEmployee) {
<app-employee-details [emp]="selectedEmployee" [subtitle]="childSubTitle"></app-employee-details>
} -->
}
@else {
<h4>
    sorry we didnot find any event please try again
</h4>
}